@import "partials/normalize";
@import "partials/fonts";
@import "partials/selectric";
@import "partials/variables";
@import "partials/mixins";
@import "partials/header";
@import "partials/article-grid";
@import "partials/footer";