.article-grid {
  width: 100%;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
  @include desktop {
    display: flex;
    flex-wrap: wrap;
  }
}

.new-cell {
  height: 420px;
  width: 100%;
  position: relative;
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: 25%;
  }
}

.bg-img {
  height: 100%;
  width: 100%;
  background-position: center;
  &:hover {
    .art-text {
      opacity: 1;
    }
  }
}

.art-text {
  background-color: rgba(black, 0.5);
  position: absolute;
  bottom: 0px;
  line-height: 1.5rem;
  font-size: 16px;
  color: white;
  padding: 10px;
  text-align: justify;
  opacity: 0;
  transition: .3s;
}

.loading-gif {
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  img {
    max-width: 100%;
  }
  position: absolute;
}