.article-grid {
  width: 100%;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
  @include desktop {
    display: flex;
    flex-wrap: wrap;
  }
}

.new-cell {
  height: 420px;
  width: 100%;
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: 25%;
  }
  position: relative;
}

.bg-img {
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
}

.art-text {
  background-color: rgba(black, 0.5);
  position: absolute;
  bottom: 0px;
  line-height: 1.5rem;
  font-size: 16px;
  color: white;
  padding: 10px;
  text-align: justify;
}

.loading-gif {
  height: 50px;
  width: 50px;
  display: absolute;
  margin-left: 50%;
  // margin-top: 50%;c
  transform: translate(-50%);
  img {
    max-width: 100%;
  }
}

