.article-grid {
  width: 100%;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
  @include desktop {
    display: flex;
    flex-wrap: wrap;
  }

  a {
    color: white;
    &:hover {
      color: white;
  }
}
}

.new-cell {
  height: 420px;
  width: 100%;
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: 25%;
  }
  position: relative;
  
  line-height: 1.5rem;
  font-size: 16px;
  color: white;

}

.bg-img {
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
}

.art-text {
  background-color: rgba(black, 0.5);
  position: absolute;
  bottom: 0;
}


// try adding position absolute
// top 50%, left 50%
#loading-gif {
  width: 40px;
  height: auto;
  img {
    max-width: 100%;
  }
}