footer p {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  padding: 50px;
  color: #c2c2c2;
  .copyright {
    text-transform: uppercase;
  }
  @include desktop {
    text-align: left;
  }
}