* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: white;
  line-height: 1.2;
  padding: 0px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: relative;
  height: auto;
  margin: auto;
}

.header {
  max-width: 600px;
  height: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  @include tablet {
    flex-direction: row;
    justify-content: normal;
    text-align: normal;
  }
  @include desktop {
    flex-direction: row;
    justify-content: normal;
    text-align: normal;
  }
}


.header-change {

}


.logo img {
  height: 180px;
  width: 180px;
  @include tablet {
    height: 90px;
    width: 90px;
    margin-left: 100px;
  }
  @include desktop {
    height: 90px;
    width: 90px;
    margin-left: 20px;
  }
}

.menu-container {
  @include tablet {
    margin-left: 100px;
  }
  @include desktop {
    margin-left: 100px;
  }
}

.choose-section {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 100;
}

#sections {
  cursor: pointer;
}